<link href="/public/css/building.css" rel="stylesheet">
<header>
   {{> navbar}}
</header>
<main>
  <div id="container">
    <div id="containerInfoDiv">
      <h1 class="header">{{containerName}}</h1>
      <h2 class="subheader">Created: {{creationDate}}</h2>
      <p class="subheader">{{containerDescription}}</p>
    </div>
  </div>
  <div id="containerOptions">
    {{#if canEdit}}
      <a class="submit-button" href="/edit/container/{{id}}">Edit This Container</a>
    {{/if}}
    {{#if canDelete}}
      <a class="submit-button" href="/delete/container/{{id}}">Delete This
        Container</a>
    {{/if}}
  </div>

  <br><br>
  <hr class="divider">

  <div id="subEntitiesRender">
    <p class="header">{{buildingName}} Rooms:</p>
    {{#if sER}}
      <div class="layers">{{{sER}}}</div>
    {{else}}
      <p class="subheader">No Rooms Found</p>
    {{/if}}
  </div>

</main>