<link href="/public/css/edit.css" rel="stylesheet">
<header>
   {{> navbar}}
</header>
<main>
    {{!-- i'm lazy --}}
    <br><br><br><br><br><br><br><br><br><br><br><br>
    <div class="form-container">
    <h1 class="header">Are you sure you want to delete "[{{type}}] {{name}} - {{id}}"</h1>
    <form method="POST" action="/delete/{{type}}/{{id}}">
        <label for="submit"></label>
        <button class="confirm-button" id="submitButtonDiv" name="submit" type="submit" value="Submit">Yes, Delete.</button><br>
    </form>
    </div>
</main>