<link href="/public/css/edit.css" rel="stylesheet" />
<header>
   {{> navbar}}
</header>
<main>
  <h1 class="header">Editing Item</h1>
  <div class="form-container">
    <form method="POST" action="/edit/item/{{itemId}}">
      <label for="itemNameInput">Item Name: </label>
      <input
        type="text"
        id="itemNameInput"
        name="itemNameInput"
        value="{{itemName}}"
      /><br /><br />
      <label for="itemDescriptionInput">Item Description: </label>
      <input
        type="text"
        id="itemDescriptionInput"
        name="itemDescriptionInput"
        value="{{itemDescription}}"
      /><br /><br />
      <button
        class="item-confirm-button"
        id="submitButtonDiv"
        name="submit"
        type="submit"
        value="Submit"
      >Submit Changes</button><br />
    </form>

    <hr class="divider" />

    <form method="POST" action="/edit/item/setcount/{{itemId}}">
      <label for="itemCountInput">Item Count: </label>
      <input
        type="number"
        id="itemCountInput"
        name="itemCountInput"
        value="{{itemCount}}"
      /><br /><br />
      <button
        class="item-confirm-button"
        id="submitButtonDiv"
        name="submit"
        type="submit"
        value="Submit"
      >Set Count</button><br />
    </form>

    <hr class="divider" />

    <form method="POST" action="/edit/item/setvalue/{{itemId}}">
      <label for="itemValueInput">Item Value: </label>
      <input
        type="number"
        step=".01"
        id="itemValueInput"
        name="itemValueInput"
        value="{{itemValue}}"
      /><br /><br />
      <button
        class="item-confirm-button"
        id="submitButtonDiv"
        name="submit"
        type="submit"
        value="Submit"
      >Set Value</button><br />
    </form>

    <ul class="error-message" id="alerts">
      {{#each alerts}}
        <li>{{this}}</li>
      {{/each}}
    </ul>
  </div>
</main>