<link href="/public/css/edit.css" rel="stylesheet">
<script src="/public/js/validator.js" type="module"></script>
<script src="/public/js/editItem.js" type="module"></script>
<header>
  {{> navbar}}
</header>
<main>
  <h1 class="header">Editing Item</h1>
  <div class="form-container">
    <form method="POST" action="/edit/item/{{itemId}}" id="editInfoForm">
      <label for="itemNameInput">Item Name: </label>
      <input
        class="text-bar"
        type="text"
        id="itemNameInput"
        name="itemNameInput"
        value="{{itemName}}"
        ><br><br>
      <label for="itemDescriptionInput">Item Description: </label>
      <input
        class="text-bar"
        type="text"
        id="itemDescriptionInput"
        name="itemDescriptionInput"
        value="{{itemDescription}}"
        ><br><br>
      <button
        class="item-confirm-button"
        name="submit"
        type="submit"
        value="Submit"
        >Submit Changes</button><br>
    </form>
    <hr class="divider">
    <form method="POST" action="/edit/item/setcount/{{itemId}}" id="editCountForm">
      <label for="itemCountInput">Item Count: </label>
      <input
        class="text-bar"
        type="number"
        id="itemCountInput"
        name="itemCountInput"
        value="{{itemCount}}"
        ><br><br>
      <button
        class="item-confirm-button"
        name="submit"
        type="submit"
        value="Submit"
        >Set Count</button><br>
    </form>
    <hr class="divider">
    <form method="POST" action="/edit/item/setvalue/{{itemId}}" id="editValueForm">
      <label for="itemValueInput">Item Value: </label>
      <input
        class="text-bar"
        type="number"
        step=".01"
        id="itemValueInput"
        name="itemValueInput"
        value="{{itemValue}}"
        ><br><br>
      <button
        class="item-confirm-button"
        name="submit"
        type="submit"
        value="Submit"
        >Set Value</button><br>
    </form>
    <ul class="error-message" id="alerts">
      {{#each alerts}}
      <li>{{this}}</li>
      {{/each}}
    </ul>
  </div>
  <br><br>
</main>