<link href="/public/css/building.css" rel="stylesheet">
<header>
   {{> navbar}}
</header>
<main>
  <div id="item">
    <div id="itemInfoDiv">
      <h1 class="header">{{itemName}} (Item)</h1>
      <h2 class="subheader">Created: {{itemCreationDate}}</h2>
      <p class="subheader">{{itemDescription}}</p>
    </div>
  </div>
  <div id="itemPictures">
    <form method="post" action="/item/{{id}}" enctype="multipart/form-data">
      <label for="image">Upload photos:</label><br>
      <input type="file" id="image" name="image" multiple /><br><br>
      <input
        type="submit"
        name="addPicture"
        id="addPicture"
        value="Add"
      />
      <br>
      <br>
    </form>

    {{#if imagePathList}}
    {{#each imagePathList}}
    <img src ="{{this}}" />
    {{/each}}
    {{/if}}
  </div>
  <div id="itemOptions">
    {{#if canEdit}}
      <a class="submit-button" href="/edit/item/{{id}}">Edit This Item</a>
    {{/if}}
    {{#if canDelete}}
      <a class="submit-button" href="/delete/item/{{id}}">Delete This Item</a>
    {{/if}}
  </div>

  <br><br>
  <hr class="divider">

  <div id="itemHistory">
    <div id="countHistory">
      <h2 class="subheader" id="countHistoryHeader">Count History</h2>
      <ul class="historyList" id="countHistoryList">
        {{#each countHistory}}
          <li class="historyEntry">{{this}}</li>
        {{/each}}
      </ul>
    </div>
    <div id="valueHistory">
      <h2 class="subheader" id="valueHistoryHeader">Value History</h2>
      <ul class="historyList" id="valueHistoryList">
        {{#each valueHistory}}
          <li class="historyEntry">{{this}}</li>
        {{/each}}
      </ul>
    </div>
  </div>

<div id="error">{{error}}</div>
</main>