<link href="/public/css/building.css" rel="stylesheet">
{{> navbar}}
<main>
  <div id="item">
    <div id="itemInfoDiv">
      <h1 class="header">{{itemName}} (Item)</h1>
      <h2 class="subheader">Created: {{itemCreationDate}}</h2>
      <p class="subheader">{{itemDescription}}</p>
    </div>
  </div>
  <div id="itemOptions">
    {{#if canEdit}}
    <a class="submit-button" href="/edit/item/{{id}}">Edit This Item</a>
    {{/if}}
    {{#if canDelete}}
    <a class="submit-button" href="/delete/item/{{id}}">Delete This Item</a>
    {{/if}}
  </div>
  <br><br>
  <hr class="divider">
  <br><br>
  {{#if canEdit}}
  <div id="itemPictures">
    <form method="post" action="/item/{{id}}" enctype="multipart/form-data">
      <label class="move-right" for="image"><b>Select (up to 6) photos to display:</b></label><br>
      <input class="move-right" type="file" id="image" name="image" multiple><br><br>
      <input class="submit-button" type="submit" name="addPicture" id="addPicture" value="Set">
      <input class="submit-button" type="submit" name="removeAll" id="removeAll" value="Remove All Photos">
         <br>
         <ul class="error-message" id="alerts">
         {{#if error}}
            <p class="error-message">{{error}}</p>
         {{/if}}
         </ul>
      <br>
      <br>
    </form>
    {{/if}}
    {{#if images}}
    {{#each images}}
    <img class="move-right" src="{{this}}" alt="item-image"/>
    {{/each}}
    {{/if}}
  </div>
  <br><br>
  <hr class="divider">
  <div id="itemHistory">
    <div id="countHistory">
      <h2 class="subheader" id="countHistoryHeader"><b>Count History and Statistics:</b></h2>
      <h3 class="subheader">Average: {{avgCount}} | Low: {{lowCount}} | High: {{highCount}}</h3>
      <ul class="historyList" id="countHistoryList">
        {{#each countHistory}}
        <li class="historyEntry">{{this}}</li>
        {{/each}}
      </ul>
    </div>
    <div id="valueHistory">
      <h2 class="subheader" id="valueHistoryHeader"><b>Value History and Statistics:</b></h2>
      <h3 class="subheader">Average: {{avgValue}} | Low: {{lowValue}} | High: {{highValue}}</h3>
      <ul class="historyList" id="valueHistoryList">
        {{#each valueHistory}}
        <li class="historyEntry">{{this}}</li>
        {{/each}}
      </ul>
    </div>
  </div>
  <br><br>
</main>