<link rel="stylesheet" href="/public/css/myProfile.css">
<script src="/public/js/validator.js" type="module"></script>
<script src="/public/js/profile.js" type="module"></script>
{{> navbar}}
<main>
  <h1 class="header">Welcome back to the Inventory System!</h1>
  <div class="parent-container" id="profileForms">
    <div class="form-container">
      <form id="pictureForm" method="POST" action="/profile" enctype="multipart/form-data">
        <input type="hidden" name="formType" value="profilePicture" />
        <img src="{{profilePicture}}" class="profilePicture"/><br /><br />
        <label for="pictureUpload">Select Profile Picture</label><br />
        <input class="image-button" type="file" id="pictureUpload" name="pictureUpload" /><br /><br
        />
        <label for="profilePictureSubmit">Set Profile Picture</label><br />
        <input
          class="user-submit-button"
          type="submit"
          name="profilePictureSubmit"
          id="profilePictureSubmit"
          value="Confirm"
        />
      </form>
    </div>

    <div class="form-container">
      <form id="infoForm" method="POST" action="/profile">
        <input type="hidden" name="formType" value="userInfo" /><br />
        <label for="firstNameInput">First Name</label><br />
        <input
          class="text-bar"
          name="firstNameInput"
          id="firstNameInput"
          type="text"
          value="{{firstName}}"
        /><br /><br />

        <label for="lastNameInput">Last Name</label><br />
        <input
          class="text-bar"
          name="lastNameInput"
          id="lastNameInput"
          type="text"
          value="{{lastName}}"
        /><br /><br />

        <label for="userNameInput">Username</label><br />
        <input
          class="text-bar"
          name="userNameInput"
          id="userNameInput"
          type="text"
          value="{{userName}}"
        /><br /><br />

        <label for="emailAddressInput">Email Address</label><br />
        <input
          class="text-bar"
          name="emailAddressInput"
          id="emailAddressInput"
          type="email"
          value="{{emailAddress}}"
        /><br /><br />
        <label for="userInfoSubmit">Set User Info</label><br />
        <input
          class="user-submit-button"
          type="submit"
          name="userInfoSubmit"
          id="userInfoSubmit"
          value="Confirm"
        /><br />
      </form>
    </div>

    <div class="form-container">
      <form id="passwordForm" method="POST" action="/profile">
        <input type="hidden" name="formType" value="password" />
        <label for="passwordInput">Password</label><br />
        <input
          class="text-bar"
          name="passwordInput"
          id="passwordInput"
          type="password"
          value="{{password}}"
        /><br /><br />
        <label for="confirmPasswordInput">Confirm Password</label><br />
        <input
          class="text-bar"
          name="confirmPasswordInput"
          id="confirmPasswordInput"
          type="password"
          value=""
        /><br /><br />
        <label for="passwordSubmit">Set Password</label><br />
        <input
          class="user-submit-button"
          type="submit"
          name="passwordSubmit"
          id="passwordSubmit"
          value="Confirm"
        /><br />
      </form>
    </div>
  </div>

  <ul class="error-message" id="alerts">
    {{#each alerts}}
      <li>{{this}}</li>
    {{/each}}
  </ul>

  <br><br>
  <hr class="divider">
  <br><br>

  <div id="ownedBuildings">
    <h2 class="subheader">Buildings you own</h2>
    <ul class="listings">
      {{#each owned}}
        {{{this}}}
      {{/each}}
    </ul>
  </div>

  <div id="managedBuildings">
    <h2 class="subheader">Buildings you manage</h2>
    <ul class="listings">
      {{#each managed}}
        {{{this}}}
      {{/each}}
    </ul>
  </div>

  <div id="viewBuildings">
    <h2 class="subheader">Buildings you can view</h2>
    <ul class="listings">
      {{#each view}}
        {{{this}}}
      {{/each}}
    </ul>
  </div>

  <div id="favoriteBuildings">
    <h2 class="subheader">Buildings you've favorited</h2>
    <ul class="listings">
      {{#each favorites}}
        {{{this}}}
      {{/each}}
    </ul>
  </div>
</main>
