<link href="/public/css/login.css" rel="stylesheet" />

<main>
  <div class="login-container">
    <form id="registration-form" action="/register" method="POST">
      <label class="register-label" for="firstNameInput">First Name</label>
      <input
        class="text-container"
        name="firstNameInput"
        id="firstNameInput"
        type="text"
        value="{{firstName}}"
      />

      <label class="register-label" for="lastNameInput">Last Name</label>
      <input
        class="text-container"
        name="lastNameInput"
        id="lastNameInput"
        type="text"
        value="{{lastName}}"
      />

      <label class="register-label" for="userNameInput">Username</label>
      <input
        class="text-container"
        name="userNameInput"
        id="userNameInput"
        type="text"
        value="{{userName}}"
      />

      <label class="register-label" for="emailAddressInput">Email Address</label>
      <input
        class="text-container"
        name="emailAddressInput"
        id="emailAddressInput"
        type="email"
        value="{{emailAddress}}"
      />

      <label class="register-label" for="passwordInput">Password</label>
      <input
        class="text-container"
        name="passwordInput"
        id="passwordInput"
        type="password"
        value="{{password}}"
      />

      <label class="register-label" for="confirmPasswordInput">Confirm Password</label>
      <input
        class="text-container"
        name="confirmPasswordInput"
        id="confirmPasswordInput"
        type="password"
      />

      <input
        class="confirm-button"
        type="submit"
        name="submit"
        id="submit"
        value="Submit"
      />
    </form>

    <hr class="divider" />

    <a href="/login">
      <button class="redirect-button">
        Already have an account? Login!
      </button>
    </a>

    <ul class="error-message" id="alerts">
    {{#each alerts}}
      <li>{{this}}</li>
    {{/each}}
    </ul>
  </div>
</main>