<link href="/public/css/login.css" rel="stylesheet">
<main>
  <h1 class="header">Register</h1>
  <div class="login-container">
    <form id="registration-form" action="/register" method="POST">
      <label class="register-label" for="firstNameInput">First Name</label>
      <p id="register-requirement">must be between 3-25 characters long</p>
      <input
        class="text-container"
        name="firstNameInput"
        id="firstNameInput"
        type="text"
        value="{{firstName}}"
      >

      <label class="register-label" for="lastNameInput">Last Name</label>
      <p id="register-requirement">must be between 3-25 characters long</p>
      <input
        class="text-container"
        name="lastNameInput"
        id="lastNameInput"
        type="text"
        value="{{lastName}}"
      >

      <label class="register-label" for="userNameInput">Username</label>
      <p id="register-requirement">must be between 3-25 characters long
      <br>
      can only include letters, numbers, hyphens, and underscores</p>
      <input
        class="text-container"
        name="userNameInput"
        id="userNameInput"
        type="text"
        value="{{userName}}"
      >

      <label class="register-label" for="emailAddressInput">Email Address</label>
      <p id="register-requirement">can have a mix of letters, numbers, and certain special characters</p>
      <input
        class="text-container"
        name="emailAddressInput"
        id="emailAddressInput"
        type="email"
        value="{{emailAddress}}"
      >

      <label class="register-label" for="passwordInput">Password</label>
      <p id="register-requirement">must be at least 8 characters long
      <br>
      must have at least 1 capital letter, 1 number, and 1 special character</p>
      <input
        class="text-container"
        name="passwordInput"
        id="passwordInput"
        type="password"
        value="{{password}}"
      >

      <label class="register-label" for="confirmPasswordInput">Confirm Password</label>
      <input
        class="text-container"
        name="confirmPasswordInput"
        id="confirmPasswordInput"
        type="password"
      >

      <input
        class="confirm-button"
        type="submit"
        name="submit"
        id="submit"
        value="Submit"
      >
    </form>

    <hr class="divider">
    <form action="/login">
      <button class="redirect-button">Already have an account? Login!</button>
    </form>

    <ul class="error-message" id="alerts">
    {{#each alerts}}
      <li>{{this}}</li>
    {{/each}}
    </ul>
    <script src="public/js/register.js"></script>
  </div>
</main>
