<link href="/public/css/building.css" rel="stylesheet">
<header>
   {{> navbar}}
</header>
<main>
  <div id="room">
    <div id="roomInfoDiv">
      <h1 class="header">{{roomName}} (Room)</h1>
      <h2 class="subheader">Created: {{creationDate}}</h2>
      <p class="subheader">{{roomDescription}}</p>
    </div>
  </div>
  <div id="roomOptions">
    {{#if canEdit}}
      <a class="submit-button" href="/edit/room/{{id}}">Edit This Room</a>
    {{/if}}
    {{#if canDelete}}
      <a class="submit-button" href="/delete/room/{{id}}">Delete This Room</a>
    {{/if}}
  </div>

  <br><br>
  <hr class="divider">

  <div id="subEntitiesRender">
    <p class="header">{{buildingName}} Rooms:</p>
    {{#if sER}}
      <div class="layers">{{{sER}}}</div>
    {{else}}
      <p class="subheader">No Rooms Found</p>
    {{/if}}
  </div>

</main>